---
layout: base.njk 
title: Countdown App
pageClass: countdown-app
---

<div class="section container">
    <h1>This is the Countdown App page</h1>

    <div class="countdown-cards-group">
        <div class='countdown-card' id="countdown-app" data-series-name="Black Ops 7" data-target="2025-10-24T04:00:00"></div>
        <div class='countdown-card' id="countdown-app" data-series-name="Stranger Things 5" data-target="2025-11-26T04:00:00"></div>
    </div>

</div>

<script src='/scripts/app.js'></script>
