---
layout: base.njk 
title: Countdown App
pageClass: countdown-app
---

<div class="section container">
    <h1 class="countdown-title">This is the Countdown App page</h1>

    <div id="countdown-app" data-series-name="Black Ops 7" data-target="2025-10-24T04:00:00"></div>
    <div id="countdown-app" data-series-name="Stranger Things 5" data-target="2025-11-26T04:00:00"></div>
</div>

<script src='/scripts/app.js'></script>
