---
layout: base.njk 
title: Countdown App
pageClass: countdown-app
---

<div class="section container">
    <h1 class="countdown-title">This is the Countdown App page</h1>
    <div id="countdown-app"></div>
</sectiob>